
@{
    ViewBag.Title = "CheckOut";
}
<div class="jumbotron">
    <h2>Successfully placed your order!</h2>
    <h4>Your order no:@ViewBag.OrderId</h4>
    <button onclick="location.href = '@Url.Action("","")'">Continue Shopping</button>
</div>

