
@{
    ViewBag.Title = "NoItems";
}

<h2>No Items</h2>
<button onclick="location.href='@Url.Action("MoviesList","Movies")'">Return</button>

@*<button class="btn-btn-default pull-left" onclick="MoviesList(-1)">Return</button>*@

